@import '../../../variables';
@import '../../../mixins.scss';
.main {
    border: 1px solid black;
    margin-inline: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .row {
       border: 1px solid red;
       display: flex;
       flex-direction: row;
    }
    ul {
        margin-inline: 1rem;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
}
