@import '../../../variables';
@import '../../../mixins.scss';

.details {
    margin-block-start: 2rem;
    display: flex;
    justify-content: space-evenly;
    img {
        max-width: 600px;
        max-height: 700px;
    }
    section {
        margin-block-start: 5rem;
        display: flex;
        flex-direction: column;
        * {
            margin-block: 1rem;
        }
    }
    a {
        text-decoration: none;
    }
    form {
        input {
            margin-block: 1rem;
            width: 20rem;
        }
        margin-block-start: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .description {
            height: 5rem;
            width: 20rem;
        }
        button {
            @include btnTheme();
            width: 15rem;
        }
    }
}
@media (max-width: 1250px) {
    .details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
