@import '../../../variables';
@import '../../../mixins.scss';

.item {
    padding: 0.25rem;
    display: flex;
    overflow: hidden;
    &__artwork {
        width: 400px;
        height: 500px;
    }
    div {
        margin-block: 0.5rem;
        width: 25rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        button {
            @include btnTheme();
            background-color: transparent;
            padding-inline: 1rem;
        }
        input {
            display: none;
        }
        img {
            height: 2rem;
        }
    }
}
.item img {
    transition: transform 0.4s ease;
}
.item:hover img {
    transform: scale(1.1);
}
