@import '../../../variables';
@import '../../../mixins.scss';

.item {
    padding: 0.5rem;
    display: flex;
    min-height: 400px;
    min-width: 400px;
    &__artwork {
        max-width: 400px;
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    input {
        position: absolute;
    }
    &__delete {
        width: 1rem;
    }
    &__replace {
        width: 1rem;
    }
}
