@import '../../../variables';
@import '../../../mixins.scss';

.item {
    padding: 0.5rem;
    display: flex;
    min-height: 400px;
    min-width: 400px;
    &__artwork {
        max-width: 400px;
    }

    &__delete {
        width: 1rem;
    }
    &__replace {
        background-image: url('../../../assets/Replace.png');
        width: 1rem;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        input {
            display: none;
        }
    }
}
