@import '../../../variables.scss';
@import '../../../mixins.scss';

.client-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
        margin-block: 1rem;
    }
}
@media (max-width: 900px) {
    .client-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            margin-block: 1rem;
        }
    }
}
