@import '../../../variables.scss';
@import '../../../mixins.scss';

.artist-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        max-width: 400px;
    }
    form {
        display: flex;
        flex-direction: column;
        div {
            margin-block: 1rem;
        } 
        input {
            margin: 1rem;
            border: none;
            border-bottom: solid 1px;
        }
        button {
            align-self: center;
        }
        .subject {
            width: 25rem;
        }
        .description {
            height: 5rem;
            width: 25rem;
        }
        .div__btn {
            align-self: center;
        }
    }
}
