@import '../../../variables.scss';
@import '../../../mixins.scss';

.login {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 77vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    bottom: 0;
}
