@import '../../../variables.scss';
@import '../../../mixins.scss';

.about {
    margin-block: 2rem;
    display: flex;
    justify-content: space-around;
    a {
        color: blue;
        text-decoration: none;
    }
    article {
        h3 {
            margin: 0;
        }
        width: 40%;
    }
    img {
        max-width: 450px;
    }
    ul {
        @include unstyledList();
        flex-direction: column;
    }
    li {
        margin-block: 0.2rem;
    }
}
@media (max-width: 1100px) {
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        article {
            margin-block-start: 2rem;
            width: 80%;
        }
    }
}
