@import './variables';
@import './mixins.scss';
* {
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
}
body {
    height: 100%;
    margin-inline: 4rem;
    padding: 0;
}
footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
