@import './variables';
@import './mixins.scss';
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
