@import 'variables';
@mixin btnTheme() {
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    padding-block: 0.3rem;
    padding-inline: 1.5rem;
}

@mixin unstyledList() {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
@mixin linkDeco() {
    text-decoration: none;
    color: black;
}
@mixin btnHover() {
    border: 1px grey solid;
}
